/*
	Global
*/

body { padding-top: 70px; }
section { margin-top: 20px; }
h5 { font-weight: bold; }

/*
	Navigation
*/

.navbar { background-color: #2e9afe; }
.navbar a.navbar-brand { color: #fff; }
.navbar a.navbar-brand:hover { color: #fff; }
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus{ background-color: #0174df; color: #fff; }
.navbar-default .navbar-nav > li > a { color: #fff; }
.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus { background-color: transparent;}
.navbar-default .navbar-nav>.dropdown>a .caret { border-top-color: #fff; }

/*
	Tables 
*/

table.cli caption { text-align: left; padding: 10px; border: 3px outset #d8d8d8;}
table.ps caption { background-color: #000080; color: #fff;}
table.cmd caption { background-color: #000; color: #00ff00;}

/*
	Lists
*/

dl.dl-horizontal dt { text-align: left; }

ul.ul-grid { width: 100%; }
ul.ul-grid li { width: 24%; display: inline-block; text-align: center; margin-bottom: 5px; overflow:hidden; text-overflow:ellipsis; white-space: nowrap; }
ul.ul-grid a, ul.ul-grid a:link, ul.ul-grid a:visited, ul.ul-grid a:hover{ text-decoration: none;}

li.is-disabled, li.is-disabled a { color: #ccc; background-color: #f9f9f9 !important; }
li.is-enabled, li.is-enabled a { color: #468847; background-color: #dff0d8 !important; }

ol ul { list-style-type: square;}
 
/*
	Styles
*/

.w20 { width: 25%; }
.w30 { width: 35%; }
.w60 { width: 60%; }
.hidden-all { display: none; }
