---
layout: default
description: "A quick reference guide to Windows Azure Web Sites features, functionality and tooling."
---

{% capture welcome_content %} {% include welcome.md %} {% endcapture %}

<section id="home">
	{{ welcome_content | markdownify }}
</section>

{% for post in site.posts reversed %}

	{% if post.category == "aspnet" %}
		<section id="aspnet">
			{{ post.content }}
		</section>
	{% endif %}
	
	{% if post.category == "nodejs" %}
    
		<section id="nodejs">
			{{ post.content }}
		</section>
		
    {% endif %}

	{% if post.category == "php" %}
    
		<section id="php">
			{{ post.content }}
		</section>
		
    {% endif %}	
	
	{% if post.category == "python" %}
	
		<section id="python">
			{{ post.content }}
		</section>
	
	{% endif %}
	
	{% if post.category == "cross-platform" %}
		
		<section id="cross-platform">
			{{ post.content }}
		</section>
		
	{% endif %}
	
{% endfor %}