<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="{{ page.description }}">
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />

    <title>{% if page.title %}{{ page.title }} - {% endif %}Windows Azure Web Site Cheat Sheet</title>
  </head>

  <body>

    <header>
      <div class="container">
        <hgroup>
          <h1>Windows Azure Web Sites Cheat Sheet</h1>
          <h2></h2>A collection of lesser known features of Windows Azure Web Sites.</h2>
        </hgroup>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        <h1>{{ page.title }}</h1>
        {{ content }}
      </section>
    </div>

              <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-11941712-5");
            pageTracker._trackPageview();
            } catch(err) {}
          </script>

  </body>
</html>
